body {
  font-family: Arial;
  background: #f8f8f8;
  margin: 0;
}

header {
  background: #ff5722;
  color: white;
  padding: 15px;
  text-align: center;
}

.food-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.food {
  background: white;
  padding: 15px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.food img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #ff5722;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.cart {
  background: white;
  margin: 20px;
  padding: 15px;
}
